.customTry {
   /* background-color: #de75f0 ;
   color: white; */
   border: 2px double rgb(86, 86, 90);
   /* background: linear-gradient(30deg,rgb(75, 75, 237),rgb(133, 14, 133),rgb(238, 172, 50));  */
   color: white;
  
    background:linear-gradient(90deg,#4568DC,
   #b06ab3);    
   /* rgb(184, 224, 73) */
  
}

.font1 {
   color: rgb(29, 29, 29);
   font-weight: bold;
   font-size: 1rem;
}

.circle1 {

   width: auto;
   text-align: end;
}

/* #7431FA */