.customTry {
  background: linear-gradient(90deg,rgba(196, 36, 36, 0.728),rgba(0, 64, 255, 0.698));
  color:rgb(249, 243, 243);
  border:2px solid black;
   
  
}

.font1 {
   color: black;
   
   font-size: 1rem;
}

.circle1 {

   width: auto;
   text-align: end;
}

/* #7431FA */