
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Tilt+Neon&display=swap');
*{
  font-family: "Tilt Neon", sans-serif;
}
 nav{
     background-color: #7431FA ; 
    font-family: "Tilt Neon", sans-serif;
} 
.active1:hover{
  border-bottom: 2px solid white;
}
/* #7431FA */
i{
  cursor: pointer;
}
