
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Tilt+Neon&display=swap');
*{
  font-family: "Tilt Neon", sans-serif;
  
}

 nav{
     background-color: rgb(116, 49, 250) ; 

} 
.active1:hover{
  border-bottom: 1.5px solid white;
}
/* #7431FA */
i{
  cursor: pointer;
}
.noChange12{
  color:black;
  
}
.editH{
 
  text-align: start;
  font-size: 1.8rem;
  
  /* background: linear-gradient(90deg,#008cff,
  #da0886,rgb(108, 7, 231));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  */
 
 
}
.editH1{
  font-size: 1.8rem;
  text-align: center;
  /* background: linear-gradient(90deg,#008cff,
  #da0886,pink);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}

.colorConstant{
  color: black;
}
.increasing{
  color: white;
  list-style: none;
}
.borderC{
border: 1px solid white;
  /* border-radius: 25px ; */
  /* align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  background:url(image.jpg);
  background-size: cover;
  color:black;
   */
   width: 100vw;
   height:91vh;
   overflow: hidden;
   margin-top: -80px;
   background:url(image.jpg);
  background-size: cover;
  color:black;
}
/* #FFC107 */
.borderC2{
  border: 2px solid white;
  margin-top: -80px;
  height:93vh;
  width: 99.25vw;
  background:url(signup.jpg);
  background-size: cover;
  color:black ;
  /* font-weight: bold; */
  /* text-shadow: 0.5px 0.5px black; */
  
}

.containerShift1{
  padding-top: 25px;
}